<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/search-page.css">
</head>

<body>

    <!-- popups -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-* - открывает попап -->

    <div class="overlay-register overlayPopup">
        <div class="close"></div>
        <div class="register__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <h3>Register</h3>
                <form onsubmit="return false">
                    <div class="form-input">
                        <input type="text" placeholder="Your name" required>
                        <span class="title">Your name</span>
                        <span class="error-msg">Wrong name</span>
                    </div>
                    <div class="form-input">
                        <input type="email" placeholder="Your E-mail" required>
                        <span class="title">Your E-mail</span>
                        <span class="error-msg">Wrong E-mail</span>
                    </div>
                    <div class="form-input">
                        <input class="visiblePass" type="text" placeholder="Password">
                        <input class="hiddenPass" type="password" placeholder="Password" required="">

                        <span class="title">Password</span>
                        <span class="error-msg">Wrong Password</span>
                        <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                    </div>
                    <div class="form-login">
                        <p>Already have an account? Please, <a href="javascript:void(0)" class="open-login">login</a></p>
                    </div>
                    <div class="form-bottom">
                        <button class="closeBtn open-confirm">Register</button>
                        <div class="social">
                            <p>Or register with</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/search.svg" alt="google"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/facebook.svg" alt="facebook"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/twitter.svg" alt="twitter"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-confirm overlayPopup">
        <div class="close"></div>
        <div class="confirm__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <div class="icon">
                    <i class="icon-mail"></i>
                </div>
                <h3>Please, confirm your registration</h3>
                <p>An email has been sent to your mail with a link. Please follow the link to confirm registration.</p>
                <a href="javascript:void(0)" class="closeBtn open-successful">OK</a>
            </div>
        </div>
    </div>

    <div class="overlay-successful overlayPopup">
        <div class="close"></div>
        <div class="successful__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <div class="icon">
                    <i class="icon-success"></i>
                </div>
                <h3>Registration confirmed!</h3>
                <p>Thank you for registration! </p>
                <a href="javascript:void(0)" class="closeBtn">OK</a>
            </div>
        </div>
    </div>

    <div class="overlay-login overlayPopup">
        <div class="close"></div>
        <div class="login__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <h3>Login</h3>
                <form onsubmit="return false">
                    <div class="form-input">
                        <input type="email" placeholder="Your E-mail" required>
                        <span class="title">Your E-mail</span>
                        <span class="error-msg">Wrong E-mail</span>
                    </div>
                    <div class="form-input">
                        <input class="visiblePass" type="text" placeholder="Password">
                        <input class="hiddenPass" type="password" placeholder="Password" required="">

                        <span class="title">Password</span>
                        <span class="error-msg">Wrong Password</span>
                        <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                    </div>
                    <div class="form-link">
                        <a href="javascript:void(0)" class="closeBtn open-passRecover">Forgot password?</a>
                    </div>
                    <div class="form-bottom">
                        <button class="closeBtn open-confirm">Login</button>
                        <div class="social">
                            <p>Or register with</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/search.svg" alt="google"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/facebook.svg" alt="facebook"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/twitter.svg" alt="twitter"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-passRecover overlayPopup">
        <div class="close"></div>
        <div class="passRecover__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <h3>Password recover</h3>
                <p>Enter your e-mail and we will send you instructions on how to change your password</p>
                <form onsubmit="return false">
                    <div class="form-input">
                        <input type="email" placeholder="Your E-mail" required>
                        <span class="title">Your E-mail</span>
                        <span class="error-msg">Wrong E-mail</span>
                    </div>
                    <div class="form-bottom">
                        <button class="closeBtn open-newPass">Send</button>
                        <a href="javascript:void(0)" class="closeBtn back open-login">← Back </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-newPass overlayPopup">
        <div class="close"></div>
        <div class="newPass__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <h3>Choose a new password</h3>
                <form onsubmit="return false">
                    <div class="form-input">
                        <input class="visiblePass" type="text" placeholder="New Password">
                        <input class="hiddenPass" type="password" placeholder="New Password" required="">
                        <span class="error-msg">Wrong Password</span>
                        <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                    </div>
                    <div class="form-input">
                        <input class="visiblePass" type="text" placeholder="Confirm password">
                        <input class="hiddenPass" type="password" placeholder="Confirm password" required="">
                        <span class="error-msg">Wrong Password</span>
                        <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                    </div>
                    <div class="form-bottom">
                        <button class="closeBtn open-thxMsg">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-thxMsg overlayPopup">
        <div class="close"></div>
        <div class="thxMsg__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <div class="icon">
                    <i class="icon-success"></i>
                </div>
                <h3>Thank you!</h3>
                <p>You have subscribed to our newsletters.</p>
                <a href="javascript:void(0)" class="closeBtn">OK</a>
            </div>
        </div>
    </div>



    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <!-- mobile hamburger -->
                <button class="toggle-menu">
                    <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                    </span>
                </button>
                <!-- end mobile hamburger -->

                <a href="index.html" class="header__logo">
                    <img src="../img/logo.png" alt="logotype">
                </a>
                <div class="header__menu">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="javascript:void(0)">Home </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Technologies </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Companies </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Startups </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Meetings </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__search">
                    <form>
                        <div class="form-input">
                            <input type="text">
                            <button><i class="icon-search"></i></button>
                        </div>
                    </form>
                    <span class="open-search"><i class="icon-search"></i></span>
                </div>
                <div class="header__btns">
                    <a href="javascript:void(0)" class="open-login">Log in</a>
                    <a href="javascript:void(0)" class="open-register">Sing Up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><span>Companies</span></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="main-wrap">
                <div class="page-content">
                    <div class="heading">
                        <h2>Technologies</h2>
                    </div>
                    <div class="news">
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-1.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="javascript:void(0)" class="img">
                                <img src="../img/article-img-2.jpg" alt="">
                            </a>
                            <div class="post-top">
                                <a href="javascript:void(0)" class="label">News</a>
                                <span class="date">07.02.2019</span>
                            </div>
                            <div class="post-content">
                                <a href="javascript:void(0)">Built on Several New Tools, Marathon’s Digital Oilfield is Maturing</a>
                            </div>
                            <div class="post-actions">
                                <a href="javascript:void(0)" class="views">1 123</a>
                                <a href="javascript:void(0)" class="likes">231</a>
                                <a href="javascript:void(0)" class="comments">11</a>
                            </div>
                        </div>
                        <div class="moreResult">
                            <a href="javascript:void(0)">More companies</a>
                        </div>
                    </div>
                </div>

                <aside class="sidebar">
                    <div class="sidebar-item">
                        <div class="heading">
                            <h3>Top news</h3>
                        </div>
                        <div class="posts">
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-6.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-5.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-4.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Shale and Tight Reservoir Technical Analysis</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-3.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Katalyst Data Management 
                    Opens New Digital 
                    Transformation Center 
                    in Houston</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <div class="ads">
                            <p>GOOGLE ADS</p>
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <div class="heading">
                            <h3>Meetings <span>(July)</span></h3>
                        </div>
                        <div class="meetings">
                            <div class="meeting">
                                <div class="date">
                                    <span class="day">18</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="title">
                                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                                </div>
                            </div>
                            <div class="meeting">
                                <div class="date">
                                    <span class="day">19</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="title">
                                    <a href="javascript:void(0)">New Distinguished 
                            Lecturer Schedule 
                            Announced</a>
                                </div>
                            </div>
                            <div class="meeting">
                                <div class="date">
                                    <span class="day">23</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="title">
                                    <a href="javascript:void(0)">In Memoriam: Curtis G. Blount</a>
                                </div>
                            </div>
                            <div class="meeting">
                                <div class="date">
                                    <span class="day">25</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="title">
                                    <a href="javascript:void(0)">New Distinguished 
                            Lecturer Schedule 
                            Announced</a>
                                </div>
                            </div>
                            <div class="meeting">
                                <div class="date">
                                    <span class="day">30</span>
                                    <span class="month">June</span>
                                </div>
                                <div class="title">
                                    <a href="javascript:void(0)">In Memoriam: Curtis G. Blount</a>
                                </div>
                            </div>
                            <div class="showAll">
                                <a href="javascript:void(0)">all meetings <i class="icon-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <div class="heading">
                            <h3>tags</h3>
                        </div>
                        <div class="tags">
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">News</a>
                            <a href="javascript:void(0)">Education</a>
                            <a href="javascript:void(0)">Oil and gas</a>
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <div class="heading">
                            <h3>Popular news</h3>
                        </div>
                        <div class="posts">
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-6.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-5.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-4.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Shale and Tight Reservoir Technical Analysis</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-3.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">Katalyst Data Management 
                    Opens New Digital 
                    Transformation Center 
                    in Houston</a>
                                </div>
                            </div>
                            <div class="post">
                                <a href="javascript:void(0)" class="img">
                                    <img src="../img/article-img-3.jpg" alt="">
                                </a>
                                <div class="info">
                                    <p>07.02.2019</p>
                                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__menu">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="javascript:void(0)">Home </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Technologies </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Companies </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Startups </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Meetings </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <ul class="footer__social">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/companies.min.js"></script>
</body>

</html>