<header class="header">
    <div class="container">
        <div class="header__wrap">
            <!-- mobile hamburger -->
            <button class="toggle-menu">
                <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                </span>
            </button>
            <!-- end mobile hamburger -->

            <a href="index.html" class="header__logo">
                <img src="../img/logo.png" alt="logotype">
            </a>
            <div class="header__menu">
                <nav>
                    <ul>
                        <li class="active">
                            <a href="javascript:void(0)">Home </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Technologies </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Companies </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Startups </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Meetings </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__search">
                <form>
                    <div class="form-input">
                        <input type="text">
                        <button><i class="icon-search"></i></button>
                    </div>
                </form>
                <span class="open-search"><i class="icon-search"></i></span>
            </div>
            <div class="header__btns">
                <a href="javascript:void(0)" class="open-login">Log in</a>
                <a href="javascript:void(0)" class="open-register">Sing Up</a>
            </div>
        </div>
    </div>
</header>