<!-- popups -->
<!-- .closeBtn - закрывает попап -->
<!-- .open-* - открывает попап -->

<div class="overlay-register overlayPopup">
    <div class="close"></div>
    <div class="register__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <h3>Register</h3>
            <form onsubmit="return false">
                <div class="form-input">
                    <input type="text" placeholder="Your name" required>
                    <span class="title">Your name</span>
                    <span class="error-msg">Wrong name</span>
                </div>
                <div class="form-input">
                    <input type="email" placeholder="Your E-mail" required>
                    <span class="title">Your E-mail</span>
                    <span class="error-msg">Wrong E-mail</span>
                </div>
                <div class="form-input">
                    <input class="visiblePass" type="text" placeholder="Password">
                    <input class="hiddenPass" type="password" placeholder="Password" required="">
                    
                    <span class="title">Password</span>
                    <span class="error-msg">Wrong Password</span>
                    <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                </div>
                <div class="form-login">
                    <p>Already have an account? Please, <a href="javascript:void(0)" class="open-login">login</a></p>
                </div>
                <div class="form-bottom">
                    <button class="closeBtn open-confirm">Register</button>
                    <div class="social">
                        <p>Or register with</p>
                        <ul>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/search.svg" alt="google"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/facebook.svg" alt="facebook"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/twitter.svg" alt="twitter"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-confirm overlayPopup">
    <div class="close"></div>
    <div class="confirm__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <div class="icon">
                <i class="icon-mail"></i>
            </div>
            <h3>Please, confirm your registration</h3>
            <p>An email has been sent to your mail with a link. 
                    Please follow the link to confirm registration.</p>
            <a href="javascript:void(0)" class="closeBtn open-successful">OK</a>
        </div>
    </div>
</div>

<div class="overlay-successful overlayPopup">
    <div class="close"></div>
    <div class="successful__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <div class="icon">
                <i class="icon-success"></i>
            </div>
            <h3>Registration confirmed!</h3>
            <p>Thank you for registration! </p>
            <a href="javascript:void(0)" class="closeBtn">OK</a>
        </div>
    </div>
</div>

<div class="overlay-login overlayPopup">
    <div class="close"></div>
    <div class="login__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <h3>Login</h3>
            <form onsubmit="return false">
                <div class="form-input">
                    <input type="email" placeholder="Your E-mail" required>
                    <span class="title">Your E-mail</span>
                    <span class="error-msg">Wrong E-mail</span>
                </div>
                <div class="form-input">
                    <input class="visiblePass" type="text" placeholder="Password">
                    <input class="hiddenPass" type="password" placeholder="Password" required="">
                    
                    <span class="title">Password</span>
                    <span class="error-msg">Wrong Password</span>
                    <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                </div>
                <div class="form-link">
                    <a href="javascript:void(0)" class="closeBtn open-passRecover">Forgot password?</a>
                </div>
                <div class="form-bottom">
                    <button class="closeBtn open-confirm">Login</button>
                    <div class="social">
                        <p>Or register with</p>
                        <ul>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/search.svg" alt="google"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/facebook.svg" alt="facebook"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/twitter.svg" alt="twitter"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-passRecover overlayPopup">
    <div class="close"></div>
    <div class="passRecover__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <h3>Password recover</h3>
            <p>Enter your e-mail and we will send you instructions on how to change your password</p>
            <form onsubmit="return false">
                <div class="form-input">
                    <input type="email" placeholder="Your E-mail" required>
                    <span class="title">Your E-mail</span>
                    <span class="error-msg">Wrong E-mail</span>
                </div>
                <div class="form-bottom">
                    <button class="closeBtn open-newPass">Send</button>
                    <a href="javascript:void(0)" class="closeBtn back open-login">← Back </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-newPass overlayPopup">
    <div class="close"></div>
    <div class="newPass__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <h3>Choose a new password</h3>
            <form onsubmit="return false">
                <div class="form-input">
                    <input class="visiblePass" type="text" placeholder="New Password">
                    <input class="hiddenPass" type="password" placeholder="New Password" required="">
                    <span class="error-msg">Wrong Password</span>
                    <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                </div>
                <div class="form-input">
                    <input class="visiblePass" type="text" placeholder="Confirm password">
                    <input class="hiddenPass" type="password" placeholder="Confirm password" required="">
                    <span class="error-msg">Wrong Password</span>
                    <span class="show-pass">
                        <i class="icon-eye-1"></i>
                    </span>
                </div>
                <div class="form-bottom">
                    <button class="closeBtn open-thxMsg">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-thxMsg overlayPopup">
    <div class="close"></div>
    <div class="thxMsg__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <div class="icon">
                <i class="icon-success"></i>
            </div>
            <h3>Thank you!</h3>
            <p>You have subscribed to our newsletters.</p>
            <a href="javascript:void(0)" class="closeBtn">OK</a>
        </div>
    </div>
</div>

