<aside class="sidebar">
    <div class="sidebar-item">
        <div class="heading">
            <h3>Top news</h3>
        </div>
        <div class="posts">
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-6.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-5.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-4.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Shale and Tight Reservoir Technical Analysis</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-3.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Katalyst Data Management 
                    Opens New Digital 
                    Transformation Center 
                    in Houston</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="ads">
            <p>GOOGLE ADS</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="heading">
            <h3>Meetings <span>(July)</span></h3>
        </div>
        <div class="meetings">
            <div class="meeting">
                <div class="date">
                    <span class="day">18</span>
                    <span class="month">June</span>
                </div>
                <div class="title">
                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                </div>
            </div>
            <div class="meeting">
                <div class="date">
                    <span class="day">19</span>
                    <span class="month">June</span>
                </div>
                <div class="title">
                    <a href="javascript:void(0)">New Distinguished 
                            Lecturer Schedule 
                            Announced</a>
                </div>
            </div>
            <div class="meeting">
                <div class="date">
                    <span class="day">23</span>
                    <span class="month">June</span>
                </div>
                <div class="title">
                    <a href="javascript:void(0)">In Memoriam: Curtis G. Blount</a>
                </div>
            </div>
            <div class="meeting">
                <div class="date">
                    <span class="day">25</span>
                    <span class="month">June</span>
                </div>
                <div class="title">
                    <a href="javascript:void(0)">New Distinguished 
                            Lecturer Schedule 
                            Announced</a>
                </div>
            </div>
            <div class="meeting">
                <div class="date">
                    <span class="day">30</span>
                    <span class="month">June</span>
                </div>
                <div class="title">
                    <a href="javascript:void(0)">In Memoriam: Curtis G. Blount</a>
                </div>
            </div>
            <div class="showAll">
                <a href="javascript:void(0)">all meetings <i class="icon-right"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="heading">
            <h3>tags</h3>
        </div>
        <div class="tags">
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Oil and gas</a>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="heading">
            <h3>Popular news</h3>
        </div>
        <div class="posts">
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-6.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Registration for ATCE in Calgary Now Open</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-5.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-4.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Shale and Tight Reservoir Technical Analysis</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-3.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">Katalyst Data Management 
                    Opens New Digital 
                    Transformation Center 
                    in Houston</a>
                </div>
            </div>
            <div class="post">
                <a href="javascript:void(0)" class="img">
                    <img src="../img/article-img-3.jpg" alt="">
                </a>
                <div class="info">
                    <p>07.02.2019</p>
                    <a href="javascript:void(0)">DFIT – The Unconventional 
                    Well Test: Theory, Design, 
                    and Interpretation</a>
                </div>
            </div>
        </div>
    </div>
</aside>